<div id='flex-container2'>
  {{#each beer}}
  {{>beerpartial this}}
    <p>Food pairing:</p>
    <ul>
    {{#each this.food_pairing}}
      <li>{{this}}</li>
    {{/each}}
    </ul>
    <p>Brewer tips: {{this.brewers_tips}}</p>
  {{else}}
    <p>No beers avariable.</p>
  {{/each}}
</div>