<div class='flex-container2'>
  {{#each beer}}
  {{>beerpartial this}}
  <div id="additional">
    <h4>Food pairing:</h4><br>
    <ul>
    {{#each this.food_pairing}}
      <li>- {{this}}</li>
      <br>
    {{/each}}
    </ul>
    <br><p><b>Brewer tips:</b> {{this.brewers_tips}}</p>
  </div>
  {{else}}
    <p>No beers avariable.</p>
  {{/each}}
</div>